<?xml version="1.0"?>
<root>
	<form name="menuDetailForm" >
		<checkrules>
			<name>
				<validate>
					<NotEmpty message="Vui lòng nhập tên" />
				</validate>
			</name>
			<url>
				<validate>
					<NotEmpty message="Vui lòng nhập url" />
				</validate>
			</url>
		</checkrules>
	</form>	
</root>	