@media (max-width: 767px) {
	.product-item-view .piv-bot .tab-content .detail, .post.detail .post-detail .content{
	    white-space: pre-wrap;      /* CSS3 */   
	    white-space: -moz-pre-wrap; /* Firefox */    
	    white-space: -pre-wrap;     /* Opera <7 */   
	    white-space: -o-pre-wrap;   /* Opera 7 */    
	    word-wrap: break-word;      /* IE */
	}
}
/* Dấu Gạch Nhăn Cách Trang Footer*/
@media (min-width: 575px){
    .pfooter .pf-top .group {
        border-right: 1px solid #000;
    }
}
#pCall {
    background: rgba(5, 239, 42, 0.9);
    width: 44px;
    height: 44px;
    left: .9rem;
    bottom: 1.5rem;
}
.product-item-view .piv-top .photos .photo {
	background-size: contain;
}
ul.grid .product-item:hover .avatar, 
ul.grid .product-item:hover .detail, 
ul.slider .product-item:hover .avatar, ul.slider .product-item:hover .detail{
    -webkit-filter: blur(0.0rem);
    -moz-filter: blur(0.0rem);
    -ms-filter: blur(0.0rem);
    -o-filter: blur(0.0rem);
    filter: blur(0.0rem);
}
.my_btn{
    border-top: 1px solid transparent;
    width: 100%;
    border-radius: 0;
}
.cart_btn{
    border-top: 1px solid #1a9af5;
    border-radius: 0px;
}
ul.grid .product-item .btn.cart:hover,
ul.slider .product-item .btn.cart:hover {
    color: #fff;
    background-color: red;
}
.product ul.grid .product-item {
    min-height: 22rem;
}
.product .product-view li {
    min-height: 22rem;
}
.home ul.grid .product-item {
    min-height: 22rem;
}

@media (min-width: 768px){
    .home ul.grid .product-item{
        min-height: 24rem;
    }
    .product .product-view li{
        min-height: 24rem;
    }
    .product ul.grid .product-item{
        min-height: 24rem;
    }
}
@media (min-width: 576px){
    .home ul.grid .product-item{
        min-height: 28rem;
    } 
    .product .product-view li{
        min-height: 25.5rem;
    }
    .product ul.grid .product-item{
        min-height: 24rem;
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.news-img{width: 100%;margin: 15px auto;display: block;}

@media (min-width: 767px){
    .news_if .news-img{width: 75%;}
}

.post.detail .post-detail .content{
    white-space: normal;
}

.news_if p{
    margin: 15px 0;
}
.color-box, .variant-box {
    margin: 0!important;
}
.color-box .color-label, .variant-box .variant-label{
    line-height: 18px;
    margin: 0 0 5px;
    display: block;
}
ul.color-list, ul.variant-list  {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.color-list li , ul.variant-list li {
    float: left;
    display: block;
    text-align: center;
    box-sizing: border-box;
}
ul.color-list li a, ul.variant-list li a {
    display: block;
    padding: .30rem .5rem;
    margin-right: 10px;
    border: 1px solid #189eff;
    color: #189eff;
    cursor: pointer;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 5px;
    border-radius: 5px;
    text-decoration: none;
    min-width: 6.5rem;
}
ul.color-list li.color-items a.active , ul.variant-list li.variant-items a.active {
    color: #fff;
    background: #189eff;
    border: 1px solid #189eff;
}
body.order.detail .cart-list table th:nth-of-type(3), body.order.detail .cart-list table td:nth-of-type(3){
    width: 27.5rem;
}